<div class="about" id="aboutSection">
    <div class="blanc"></div>
    <div class="cadre">
        <div class="contenuAbout">
            <div class="titre">
                <img src="{{ asset('images/triangle-puce.png') }}" alt="Puce Titre extracopy">
                <h2>Qui sommes-nous ?</h2>
            </div>
            <div class="description">
                <div class="texte">
                    <p><span>Vous cherchez un centre d'impression de confiance à Tournai ?</span></p>
                    <p>Ne cherchez pas plus loin que <span>Xtra Copy
                            Tournai !</span></br>Situé au cœur de la ville, à deux pas de la grand place, notre
                        <strong>centre d'impression</strong> est
                        également <strong>un point relais pour les livraisons de colis</strong>.</p>
                    <p>Que vous soyez un particulier ou une entreprise, nous proposons des services d'impression
                        flexibles
                        pour répondre à vos besoins.</br> Que ce soit pour imprimer des documents en format A4, A3, A2,
                        A1 et A0
                        via internet, une clé USB ou simplement photocopier vos originaux, nous sommes là pour vous
                        aider.
                    </p>
                    <p>Et si vous avez besoin de relier vos documents, nous proposons également une variété de reliures
                        à
                        des prix très attractifs.</br> Chez <span>Xtra Copy Tournai</span>, nous sommes fiers d'offrir
                        des services de qualité
                        et d'accueillir nos clients avec le sourire. </br>Notre objectif est de toujours vous laisser
                        satisfait
                        de nos services.</p>
                    <p><strong>Venez nous voir et découvrez ce que nous pouvons faire pour vous !</strong></p>
                </div>
            </div>
            <div class="imgMag">
                <img src="{{ asset('images/xtraCopyFacade.jpg') }}" alt="">
            </div>
        </div>


    </div>
</div>