    <div class="headerSup" id="topIndex">
        <ul>
            <li>
                <i class="fa-solid fa-location-dot"></i>
                <div class="information">
                    <p><span>Adresse</span></br>
                        Rue de l'Yser 11 - 7500 TOURNAI (Belgique)</p>
                </div>
            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                <div class="information">
                    <p><span>Téléphone</span></br>
                        +32 (0) 470/92.80.09</p>
                </div>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <div class="information">
                    <p><span>E-mail</span></br>
                        xtracopytournai@gmail.com</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="headerInf">
        <div class="logo">
            <a href="#">
                <span>XTRA COPY</span>
                <p>- TOURNAI -</p>
            </a>
        </div>
        <div class="MenuNav">
            <ul>
                <li><a href="#aboutSection">Qui sommes-nous</a></li>
                <li><a href="#serviceSection">Nos différents services</a></li>
                <li><a href="#mapSection">Nous trouver</a></li>
            </ul>
        </div>
        <div class="MenuNavResponsive">
            <ul>
                <li><a href="#aboutSection">Qui sommes-nous</a></li>
                <li><a href="#serviceSection">Nos différents services</a></li>
                <li><a href="#mapSection">Nous trouver</a></li>
            </ul>
        </div>
        <div class="menuBurger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        
        </div>

    </div>
