<div class="menuAdmin">
    <ul class="menuSup">
        <li{% if position == 0 %} class="activate"{% endif %}><a href=""><i class="fa-solid fa-home"></i>Accueil</a></li>
        <li{% if position == 1 %} class="activate"{% endif %}><a href=""><i class="fa-solid fa-gauge-high"></i>Parametres </a></li>
        <li{% if position == 2 %} class="activate"{% endif %}><a href=""><i class="fa-solid fa-coins"></i>Comptabilité</a></li>
    </ul>
</div>