// reset scss
@import 'assets/styles/reset.scss';

// css image fond
.fond{
   
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -100;
    background-color: #1EABDC;
    background-image: url("../../public/img/pattern.png");
    opacity: 0.75;
    



}
// css Menu admin
body {
 
    user-select: none;
    
    
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 25px;
    color: black;
}

.cadrePrincipal {
    position: absolute;
    background-color: white;
    width: 75%;
    min-height: 80vh;
    top: 10vh;
    right: 3%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.10);
    form{
        .form-groupe{
            display: flex;
            flex-direction: column;
            width: 40%;
            margin: auto;
            margin-top: 10px;
            label{
                color: black;
                font-size: 20px;
                padding-bottom: 5px;

            }
            input{
                border: none;
                background-color:#C4D7ED;
              
                font-size: 20px;
                height: 24px;
                line-height: 22px;
                padding-left: 15px;
                border-radius: 5px;
                opacity: 0.6;
                &:hover{
                    opacity: 1;
                }
            }
            select{
                height: 30px;
                margin-bottom: 15px;
            }
            #workers_roles{
                label{
                    display: none;
                }
                select{
                    width: 100%;
                }
            }
        }
        .button{
            margin-top: 15px;
            text-align: center;
            button{
                border: none;
                background-color: #1EABDC;
                padding: 15px;
                border-radius: 7px;
                font-size: 20px;
                color: white;
                opacity: 0.8;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    h2{
        text-align: center;
        font-size: 25px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .ajout{
        background: #1EABDC;
        padding: 15px;
        font-size: 20px;
        text-decoration: none;
        display: block;
        width: 200px;
        color: white;
        border-radius: 5px;
        margin-top: 25px;
        margin-left: 5%;
        margin-bottom: 25px;
        opacity: 0.8;
        text-align: center;
        &:hover{
            opacity: 1;
        }
    }
    .retour{
        background-color: #C4D7ED;
        padding: 15px;
        position: absolute;
        bottom: 15px;
        left: 5%;
        font-size: 20px;
        text-decoration: none;
        border-radius: 5px;
        opacity: 0.8;
        color: black;
        &:hover{
            opacity: 1;
            background-color: #F3EB19;
        }
    }
    .list{
        width: 90%;
        margin: auto;
        .pagination{
            text-align: center;
            margin-top: 25px;
            font-size: 20px;
            .current{
                background-color: #1EABDC;
                color: white;
            }
        
            span{
                border: 1px solid black;
                margin-right: 10px;
                padding: 5px;
                background-color: #F3EB19;
                position: relative;
                &:hover{
                    background-color: #C4D7ED;
                }
                
                
                a{
                   text-decoration: none; 
                   
                 
                }
                
            }
        }
        .ajoute{
            background-color: #1EABDC;
            padding: 10px;
            text-decoration: none;
            font-size: 20px;
            border-radius: 5px;
            color: white;
            opacity: 0.8;
            margin-top: 25px;
            display: block;
            width: 100px;
            text-align: center;
            &:hover{
                opacity: 1;
            }
           
        }
       
        .double{
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            width: 100%;  
            .tableau{
                h3{
                    margin-top: 25px;
                    text-align: center;
                    color: #1EABDC;
                    font-size: 25px;
                    margin-bottom: 25px;
                }
                width: 48%;
            }   
        }
       
        table{
        margin-top: 25px;
        width: 100%;
        
        thead {
            background-color: #1EABDC;
            height: 50px;
            line-height: 50px;
            color: white;
            text-align: center;
            font-size: 20px;

            th {
                border: 1px solid #1EABDC;
                width: 105px;
            }
        
        }
        tbody {

            td {
                border: 1px solid black;
                font-size: 20px;
                
                text-align: center;
                line-height: 55px;
            }
            .link {

                width: 240px;
                text-align: left;
                
                a{
                    font-size: 20px;
                    color: black;
                    text-decoration: none;
                    padding: 5px;
                    border-radius: 4px;
                    
                margin-left: 15px;
                opacity: 0.8;
                
                &:hover{
                    opacity: 1;
                }
                
                }
                .modif{
                    background-color: green;

                }
                .delete
                {
                    background-color: red;
                }
            }
            .userlink{
                width: 100px;
               
            }
        }

        
    }

    }
    
    .menuIcone {
        ul {
            display: flex;
            justify-content:center;
            gap: 80px;
            flex-wrap: wrap;
            margin-top: 100px;

            li {
                width: 200px;
                background-color: #C4D7ED;
                
                height: 200px;
                position: relative;
                border-radius: 15px;
                border-radius: 15px;
                -webkit-box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.36);
                box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.10);
                &:hover{
                    background-color: #1EABDC;
                    a{
                        color: white;
                        i{
                            color: white;
                        }
                    }
                }

                a {
                    display: block;
                    text-align: center;
                    line-height: 320px;
                    text-decoration: none;
                    color: black;
                    font-size: 20px;

                    i {
                        position: absolute;
                        font-size: 45px;
                        color:#1EABDC;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                }
            }
        }
    }
}




.menuAdmin {
    background-color: white;
    width: 250px;
    min-height: 80vh;
    position: absolute;
    top: 10vh;
    left: 3%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.10);

    .logo {

        padding-top: 25px;
        padding-bottom: 40px;

        img {
            width: 130px;
            margin: auto;
            margin-left: 50px;
        }
    }

    .menuSup {

        width: 80%;
        text-align: right;
        margin: auto;
        margin-top: 20px;

        .activate {
            background-color: #1EABDC;

            a {
                color: white;
               

            }
        }

        li {
            height: 50px;
            border-radius: 5px;
            position: relative;
            margin-top: 10px;

            &:hover {
                background-color: #F3EB19;

                a {
                    color: black;
                }
            }

            a {
                line-height: 50px;
                text-decoration: none;
                color: black;
                font-size: 22px;
                padding-right: 15px;
                display: block;

                i {
                    position: absolute;
                    left: 15px;
                    top: 10px;
                    font-size: 28px;
                }
            }
        }
    }

    .cadreConnect {
        position: absolute;
        bottom: 25px;
        width: 100%;

        p {

            text-align: center;
            font-size: 13px;
            margin-top: 10px;

        }

        a {
            background-color: #1EABDC;
            padding: 12px;
            text-decoration: none;
            color: white;
            border-radius: 7px;
            text-align: center;
            display: block;
            width: 80%;
            margin: auto;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }

    }

}
.info{
    position: relative;
    width: 100%;
    height: 100%;
    .cadreInfo{
       
       width: 550px;
       text-align: center;
       
       margin: auto;
        margin-top: 160px;
        font-size: 32px;
        i{
            color: red;
            font-size: 100px;
            padding: 25px;
        }
        .link{
            margin-top: 150px;
            a{
                text-decoration: none;
                background-color: #F3EB19;
                padding: 15px;
                border-radius: 7px;
                display: block;
                opacity: 0.8;
                width: 150px;
                margin: auto;
                color: black;
                &:hover{
                    opacity: 1;
                }
                
            }
        }

        


    }
}