{% extends 'base.html.twig' %}
{% set position = 0 %} {# menu anchor variable #}
{% block title %}Admin Xtra Copy: index{% endblock %}
{% block body %}
<h1>Administation de Xtra Copy Tournai : Accueil</h1>
<div class="cadrePrincipal">
</div>
{% include "partials/_menuAdmin.html.twig" %}
{% endblock %}
