{% extends 'base.html.twig' %}
{% set position = 3 %} {# menu anchor variable #}
{% block title %}Admin Xtra Copy: index Paramètres{% endblock %}
{% block body %}
<h1>Administation de Xtra Copy Tournai : Paramètres</h1>
<div class="cadrePrincipal">
    <div class="menuIcone">
        <ul>
            <li><a href="{{ path('indexPrint')}}"><i class="fa-solid fa-print"></i>Imprimantes</a></li>
            <li><a href="{{ path('indexCopies')}}"><i class="fa-solid fa-copy"></i>Prix copies</a></li>
            <li><a href=""><i class="fa-solid fa-users"></i>Abonnements</a></li>
            <li><a href="{{ path('indexPapers')}}"><i class="fa-regular fa-note-sticky"></i>Type de
                    papier</a></li>
            <li><a href=""><i class="fa-solid fa-droplet"></i>Reliures</a></li>
            <li><a href=""><i class="fa-solid fa-camera-retro"></i>Photos</a></li>
            <li><a href=""><i class="fa-solid fa-pen-clip"></i>Fournitures</a></li>
        </ul>
    </div>

</div>
{% include "partials/_menuAdmin.html.twig" %}
{% endblock %}