{% extends 'base.html.twig' %}
{% set position = 3 %} {# menu anchor variable #}
{% block title %}Admin Xtra Copy: Index Papiers{% endblock %}
{% block body %}
<h1>Administation de Xtra Copy Tournai : Index Papiers</h1>
<div class="cadrePrincipal">

   

</div>
{% include "partials/_menuAdmin.html.twig" %}
{% endblock %}