{% extends 'base.html.twig' %}
{% set position = 0 %} {# menu anchor variable #}
{% block title %}Admin Xtra Copy: index{% endblock %}
{% block body %}
<h1>Administation de Xtra Copy Tournai : index</h1>
{% include "partials/_menuAdmin.html.twig" %}
{% endblock %}
