{% extends 'base.html.twig' %}{# menu anchor variable #}
{% block title %}Système de caisse de Xtra Copy: index{% endblock %}
{% set position = 2 %} 
{% block body %}
<h1>Caisse de Xtra Copy : Acceuil</h1>
<div class="cadrePrincipal">
 <p>Total des factures de la journée : {{ total }} euros</p>
    

</div>      
    {% include "partials/_menuCaisse.html.twig" %}




{% endblock %}
