{% extends 'base.html.twig' %}{# menu anchor variable #}
{% block title %}Système de caisse de Xtra Copy: index scénarios{% endblock %}
{% set position = 0 %} 
{% block body %}
<h1>Caisse de Xtra Copy : Acceuil</h1>
<div class="cadrePrincipal">
    <div class="menuIcone">
        <ul>
            <li><a href="{{ path('app_caisse_noCopie')}}"><i class="fa-solid fa-circle-xmark"></i>Pas copie</a></li>
            <li><a href="{{ path('app_caisse_printselect')}}"><i class="fa-solid fa-copy"></i>Copies sans abonnement</a></li>
            <li><a href="{{ path('app_caisse_abo')}}"><i class="fa-solid fa-circle-user"></i></i>Copies avec abonnement</a></li>
        </ul>
    </div>

</div>      
    {% include "partials/_menuCaisse.html.twig" %}




{% endblock %}
