{% extends 'base.html.twig' %}{# menu anchor variable #}
{% block title %}Système de caisse de Xtra Copy: index{% endblock %}
{% set position = 0 %} 
{% block body %}
<div class="info">
    <h1>Caisse de Xtra Copy : Acceuil</h1>
    <div class="cadreInfo">
        
    </div>
</div>



{% endblock %}
