{% extends 'base.html.twig' %}{# menu anchor variable #}
{% block title %}Système de caisse de Xtra Copy: info{% endblock %}
{% block body %}
<div class="info">
    <h1>Système de caisse de Xtra Copy information</h1>
    <div class="cadreInfo">
        <h2>La connexion a été réalisée avec succès</h2>
        <div class="warning">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
        <p>Avant toute chose, n'oubliez pas de lancer <span>Wamp Server</span> sur votre bureau ainsi que le
            <span>programme imprimantes</span> en magasin.</p>
        <div class="link">
            <a href="{{ path('app_caisse_index') }}">Suite</a>
        </div>
    </div>
</div>



{% endblock %}